div{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.card{
    width: 150px;
    height: 227px;
    top: 400px;
    left: 175px;
    border-radius: 50px 0px 50px 0px;
}




