@media (min-width: 992px) {


    .event1{
        width: 196px;
    height: 312px;
    border-radius: 50px 0px 50px 0px;
    position: relative;
    top: 50px;
    
    }
    .modal1 {
      width: 60%;
      gap: 0px;
      border-radius: 300px 0px 300px 0px;
      opacity: 0px;
    
      background: rgba(255, 242, 253, 1);
    
      display: flex;
      flex-direction: column;
      align-items: center;
    
      margin: auto;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
    
      display: none;
    }
    .active1{
        display: flex;
        z-index: 5;
    }
    .icone {
      display: block;
      margin-top: 30px;
    }
    .circlePic {
      width: 110px;
      gap: 0px;
      border-radius: 50px 0px 50px 0px;
      opacity: 0px;
    }
    
    .modalin1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    
      margin-top: 15px;
    }
    .hInf {
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 600;
      line-height: 29.26px;
      text-align: left;
      color: rgba(220, 86, 197, 1);
    }
    .pInf {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.94px;
      text-align: left;
      color: rgba(14, 14, 14, 1);
      margin: auto;
      margin-bottom: 20px;
    }
    
    .pic {
      width: 40%;
      margin-left: 30px;
      img {
        width: 100%;
      }
      display: inline;
    }
    
    .info {
      width: 40%;
      margin-right: 30px;
    }
    
    .buyBtn{
        width: 145px;
    height: 40px;
    border-radius: 5px;
    opacity: 0px;
    background: rgba(76, 0, 254, 1);
    border: none;
    
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    color: rgba(255, 255, 255, 1);
    
    margin-bottom: 30px;
    }
    .mftaBtn{
        width: 255px;
    height: 40px;
    top: 1122px;
    left: 512px;
    gap: 0px;
    border-radius: 5px;
    border: 1px;
    border: 1px solid rgba(76, 0, 254, 1);
    background: rgba(255, 242, 253, 1);
    
    
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: rgba(76, 0, 254, 1);
    
    margin: 50px;
    }
    
    .closeBtn{
        width: 30px;
    height: 30px;
    background-color: rgba(255, 242, 253, 1);
    border: none;
    
    position: relative;
    
    margin-top: 15px;
    margin-right: 20px;
    
    img{
        width: 100%;
    }
    }
    .modalHead{
        display: flex;
        flex-direction: row;
        width: 55%;
        align-self: flex-end;
        justify-content: space-between;
    }
    
    .backdrop {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgb(0, 0, 0);;
      z-index: -1;
      opacity: 60%;
    
    
      display: none;
    }
    
    .activeBackdrop{
        display: inline;
        z-index: 4;
    }
    }
    .buyBtnDiv{
      justify-content: left;
    }