<header>
  <!-- Поля для пошуку країни  -->
  <div class="headerCountriesCont">
    <label class="countriesSearch" for="countriesSearch">
      <input name="countriesSearch" type="text" placeholder="Search country" id="countriesSearchInp">
      <button id="searchButton"></button>
    </label>
  
    <div id="selectorContainer">
      <select name="countriesSelector" id="countriesSelector">
        <option value="" selected disabled>Choose country:</option>
      </select>
    </div>
  </div>
</header>