<main>

    <div>
        <div class="euro">
            <img src="./img/Rectangle 6.svg" alt="Eurovision" style="margin-right: 30px">
            <div class="square"></div>
            <b><p class="texte">Eurovision 2021 finals!</p></b>
            <p class="data">2021-05-13</p>
            <p class="place">Palace of Ukraine</p>
        </div>

        <div class="atlas">
            <img src="./img/Rectangle 7.svg" alt="Atlas Weekend" hspace="30px" vspace="30px">
            <div class="square2"></div>
            <b><p class="texte">Atlas Weekend</p></b>
            <p class="data1">2021-06-09</p>
            <p class="place1">VDNH</p>
        </div>

        <div class="lp">
            <img src="./img/Rectangle 8.svg" alt="LP" hspace="30px">
            <div class="square2"></div>
            <b><p class="texte">LP</p></b>
            <p class="data1">2021-07-27</p>
            <p class="place1">Palace of Ukraine</p>
        </div>
        
        <div class="MONATIK">
            <img src="./img/Rectangle 9.svg" alt="MONATIK" class="monatik" hspace="30px">
            <div class="square2"></div>
            <b><p class="texte">MONATIK</p></b>
            <p class="data1">2021-07-17</p>
            <p class="place1">VDNH</p>
        </div>
    </div>

    <div class="two">
        <div class="MONATIK">
            <img src="./img/Rectangle 9.svg" alt="MONATIK" class="monatik" style="margin-right: 30px">
            <div class="square"></div>
            <b><p class="texte">MONATIK</p></b>
            <p class="data">2021-07-17</p>
            <p class="place">VDNH</p>
        </div>

        <div class="lp">
            <img src="./img/Rectangle 8.svg" alt="LP" hspace="30px">
            <div class="square2"></div>
            <b><p class="texte">LP</p></b>
            <p class="data1">2021-07-27</p>
            <p class="place1">Palace of Ukraine</p>
        </div>

        <div class="atlas">
            <img src="./img/Rectangle 7.svg" alt="Atlas Weekend" hspace="30px" vspace="30px">
            <div class="square2"></div>
            <b><p class="texte">Atlas Weekend</p></b>
            <p class="data1">2021-06-09</p>
            <p class="place1">VDNH</p>
        </div>

        <div class="euro">
            <img src="./img/Rectangle 6.svg" alt="Eurovision" hspace="30px">
            <div class="square2"></div>
            <b><p class="texte">Eurovision 2021 finals!</p></b>
            <p class="data1">2021-05-13</p>
            <p class="place1">Palace of Ukraine</p>
        </div>
    </div>

    <div class="three">
        <div class="atlas">
            <img src="./img/Rectangle 7.svg" alt="Atlas Weekend" style="margin-right: 30px">
            <div class="square"></div>
            <b><p class="texte">Atlas Weekend</p></b>
            <p class="data">2021-06-09</p>
            <p class="place">VDNH</p>
        </div>

        <div class="euro">
            <img src="./img/Rectangle 6.svg" alt="Eurovision" hspace="30px" vspace="30px">
            <div class="square2"></div>
            <b><p class="texte">Eurovision 2021 finals!</p></b>
            <p class="data1">2021-05-13</p>
            <p class="place1">Palace of Ukraine</p>
        </div>

        <div class="MONATIK">
            <img src="./img/Rectangle 9.svg" alt="" class="monatik" hspace="30px">
            <div class="square2"></div>
            <b><p class="texte">MONATIK</p></b>
            <p class="data1">2021-07-17</p>
            <p class="place1">VDNH</p>
        </div>

        <div class="lp">
            <img src="./img/Rectangle 8.svg" alt="" hspace="30px">
            <div class="square2"></div>
            <b><p class="texte">LP</p></b>
            <p class="data1">2021-07-27</p>
            <p class="place1">Palace of Ukraine</p>
        </div>
    </div>

    <div class="four">
        <div class="euro">
            <img src="./img/Rectangle 6.svg" alt="" style="margin-right: 30px">
            <div class="square"></div>
            <b><p class="texte">Eurovision 2021 finals!</p></b>
            <p class="data">2021-05-13</p>
            <p class="place">Palace of Ukraine</p>
        </div>

        <div class="MONATIK">
            <img src="./img/Rectangle 9.svg" alt="" class="monatik" hspace="30px">
            <div class="square2"></div>
            <b><p class="texte">MONATIK</p></b>
            <p class="data1">2021-07-17</p>
            <p class="place1">VDNH</p>
        </div>

        <div class="lp">
            <img src="./img/Rectangle 8.svg" alt="" hspace="30px">
            <div class="square2"></div>
            <b><p class="texte">LP</p></b>
            <p class="data1">2021-07-27</p>
            <p class="place1">Palace of Ukraine</p>
        </div>

        <div class="atlas">
            <img src="./img/Rectangle 7.svg" alt="" hspace="30px" vspace="30px">
            <div class="square2"></div>
            <b><p class="texte">Atlas Weekend</p></b>
            <p class="data1">2021-06-09</p>
            <p class="place1">VDNH</p>
        </div>
    </div>

    <div class="five">
        <div class="lp">
            <img src="./img/Rectangle 8.svg" alt="" style="margin-right: 30px">
            <div class="square"></div>
            <b><p class="texte">LP</p></b>
            <p class="data">2021-07-27</p>
            <p class="place">Palace of Ukraine</p>
        </div>

        <div class="atlas">
            <img src="./img/Rectangle 7.svg" alt="" hspace="30px" vspace="30px">
            <div class="square2"></div>
            <b><p class="texte">Atlas Weekend</p></b>
            <p class="data1">2021-06-09</p>
            <p class="place1">VDNH</p>
        </div>

        <div class="MONATIK">
            <img src="./img/Rectangle 9.svg" alt="" class="monatik" hspace="30px">
            <div class="square2"></div>
            <b><p class="texte">MONATIK</p></b>
            <p class="data1">2021-07-17</p>
            <p class="place1">VDNH</p>
        </div>

        <div class="euro">
            <img src="./img/Rectangle 6.svg" alt="" hspace="30px">
            <div class="square2"></div>
            <b><p class="texte">Eurovision 2021 finals!</p></b>
            <p class="data1">2021-05-13</p>
            <p class="place1">Palace of Ukraine</p>
        </div>
    </div>

    </main>


