<main>
    <div >
        <img src="./img/Rectangle 6.svg" alt="" class="card">
        <img src="./img/Rectangle 7.svg" alt="" class="card" hspace="30px">
        <img src="./img/Rectangle 8.svg" alt="" class="card" hspace="30px">
        <img src="./img/Rectangle 9.svg" alt="" class="card" hspace="30px">
       
    </div>

    <div>
        <img src="./img/Rectangle 6.svg" alt="" class="card">
        <img src="./img/Rectangle 7.svg" alt="" class="card" hspace="30px">
        <img src="./img/Rectangle 8.svg" alt="" class="card" hspace="30px">
        <img src="./img/Rectangle 9.svg" alt="" class="card" hspace="30px">
    </div>
    <div >
        <img src="./img/Rectangle 6.svg" alt="" class="card">
        <img src="./img/Rectangle 7.svg" alt="" class="card" hspace="30px">
        <img src="./img/Rectangle 8.svg" alt="" class="card" hspace="30px">
        <img src="./img/Rectangle 9.svg" alt="" class="card" hspace="30px">
        
    </div>

    <div>
        <img src="./img/Rectangle 6.svg" alt="" class="card">
        <img src="./img/Rectangle 7.svg" alt="" class="card" hspace="30px">
        <img src="./img/Rectangle 8.svg" alt="" class="card" hspace="30px">
        <img src="./img/Rectangle 9.svg" alt="" class="card" hspace="30px">
    </div>

    <div>
        <img src="./img/Rectangle 6.svg" alt="" class="card">
        <img src="./img/Rectangle 7.svg" alt="" class="card" hspace="30px">
        <img src="./img/Rectangle 8.svg" alt="" class="card" hspace="30px">
        <img src="./img/Rectangle 9.svg" alt="" class="card" hspace="30px">
    </div>

</main>
