<div class="modal1 animate__animated animate__fadeInDown">
    <div class="close">
      <button class="closeBtn">
        <img src="./images/close.png" alt="close" />
      </button>
    </div>
    <div class="icone">
      <img src="./images/picCircle.png" alt="image" class="circlePic" />
    </div>
    <div class="modalin1">
      <div class="pic"><img src="./images/pic.png" alt="image" /></div>

      <div class="info">
        <h4 class="hInf">INFO</h4>
        <p class="pInf">
          Atlas Weekend is the largest music festival in Ukraine.More than 200
          artists will create a proper music festival atmosphere on 10 stages
        </p>
        <h4 class="hInf">WHEN</h4>
        <p class="pInf">
          2021-06-09 <br />
          20:00 (Kyiv/Ukraine)
        </p>
        <h4 class="hInf">WHERE</h4>
        <p class="pInf">
          Kyiv, Ukraine <br />
          VDNH
        </p>
        <h4 class="hInf">Who</h4>
        <p class="pInf">The Black Eyed Peas</p>
        <h4 class="hInf">PRICES</h4>

        <p class="pInf">Standart 300-500 UAH</p>
        <div class="buyBtnDiv">
          <button class="buyBtn">BUY TICKETS</button>
        </div>
        <p class="pInf">VIP 1000-1500 UAH</p>
        <div class="buyBtnDiv">
          <button class="buyBtn">BUY TICKETS</button>
        </div>
      </div>
    </div>
    <button class="mftaBtn">MORE FROM THIS AUTHOR</button>
  </div>